:root {
  --input-container-width-sm: 330px;
  --input-container-width-lg: 460px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 65rem;
  margin: auto;
  padding: 1rem;
}

.display-background {
  background-color: #ffffff;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 3rem;
}

.element-display-background {
  background-color: #b5b5b5;
  border-radius: 10px;
  width: 20rem;
  max-width: 20rem;
  height: 20rem;
  z-index: 10;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.primary-header {
  margin-bottom: 1rem;
  text-align: center;
}

.box-shadow-code {
  display: block;
  padding: 1rem 0;
}

.color-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--input-container-width-sm);
  max-width: var(--input-container-width-sm);
  height: 3rem;
  padding: 0.4rem;
}

.color-input {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 5px;
}

.slider-container {
  display: flex;
  align-items: center;
  width: var(--input-container-width-sm);
  max-width: var(--input-container-width-sm);
  height: 3rem;
  padding: 0.4rem;
}

.slider {
  flex-grow: 1;
  margin: 0 1rem;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.manual-input {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem;
  padding-left: 5px;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.code-display-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--input-container-width-sm);
  max-width: var(--input-container-width-sm);
  padding: 0.4rem;
}

.reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--input-container-width-sm);
  padding-bottom: 0.2rem;
  padding-top: 0.6rem;
}

.button {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 5rem;
}

.button:hover {
  background-color: lightgray;
}

.reset-button {
  grid-column: 1 / span 2;
  justify-self: start;
}

.copy-button {
  margin-left: 1rem;
}

.novisible {
  visibility: hidden;
}

.label {
  width: 70px;
}

@media (min-width: 800px) {
  .input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .display-background {
    background-color: #ffffff;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 2rem;
    padding: 3rem;
  }
}

@media (min-width: 1058px) {
  .input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .display-background {
    background-color: #ffffff;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 2rem;
    padding: 3rem;
  }

  .color-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--input-container-width-lg);
    max-width: var(--input-container-width-lg);
    height: 3rem;
    padding: 0.4rem;
  }

  .slider-container {
    display: flex;
    align-items: center;
    width: var(--input-container-width-lg);
    max-width: var(--input-container-width-lg);
    height: 3rem;
    padding: 0.4rem;
  }

  .code-display-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--input-container-width-lg);
    max-width: var(--input-container-width-lg);
    padding: 0.4rem;
  }
}
